<div class="hero-head">
    <header class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" href="/">
                    <h1 class="title">Adoptame</h1>
                </a>
            </div>
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <div class="nav-right nav-menu">
                <a href="/adoptar" class="nav-item <%= active == 1 ? 'is-active' : '' %>">Adoptar</a>
                <a href="/perdidosyencontrados" class="nav-item <%= active == 2 ? 'is-active' : '' %>">Perdidos y Encontrados</a>
                <a href="/login" class="nav-item <%= active == 3 ? 'is-active' : '' %>">Ingresar Animal</a>
            </div>
        </div>
    </header>
</div>