<div class="hero-head">
    <header class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" href="/">
                    <h1 class="title">Adoptame</h1>
                </a>
            </div>
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
    </header>
</div>