@import "../../../../node_modules/bulma/bulma.sass";

.card {
    width: auto;
}

.landing-page {
    img {
        height: 250px;
    }
    .subtitle li {
        font-size: 18px;
    }
}
// logo
.nav-bar-logo {
    margin-left: 30px;
}