@import "../../../../node_modules/bulma/bulma.sass";
@import "fa/font-awesome";

.card {
    width: auto;
}

.login {
    a {
        color: #fff;
    }
}

.mis-animales {
    .section {
        background-color: transparent;
    }
}