<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Bruno Viera">
        <title>Adoptame es una red de adopci칩n de mascotas</title>
        <link href="css/main.min.css" rel="stylesheet">
    </head>
    <body>
        <section class="hero is-info is-bold is-small">
            <div class="hero-head">
                <header class="nav has-shadow">
                    <div class="container">
                        <div class="nav-left">
                            <a class="nav-item">
                                <h1 class="title"><a href="/">Adoptame</a></h1>
                            </a>
                        </div>
                        <span class="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <div class="nav-right nav-menu">
                            <a href="/adoptar" class="nav-item is-active">Adoptar</a>
                            <a class="nav-item">Perdidos y Encontrados</a>
                            <a class="nav-item">Contacto</a>
                        </div>
                    </div>
                </header>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Aqui encontrar치s todos los animales en adopci칩n.</h1>
                    <h2 class="subtitle">Aqui abajo puedes filtrar por el tipo de animal que buscas</h2>
                </div>
            </div>
            <div class="hero-foot">
                <nav class="tabs is-centered">
                    <ul>
                        <li class="is-active"><a>Todos</a></li>
                        <li><a>Perro</a></li>
                        <li><a>Gato</a></li>
                        <li><a>P치jaro</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns is-multiline is-desktop">
                      <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://placehold.it/300x225" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">John Smith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    <a href="#">@bulmaio</a>.
                                    <a href="#">#css</a>
                                    <br>
                                    <small>11:09 PM - 1 Jan 2016</small>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://placehold.it/300x225" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">John Smith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    <a href="#">@bulmaio</a>.
                                    <a href="#">#css</a>
                                    <br>
                                    <small>11:09 PM - 1 Jan 2016</small>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://placehold.it/300x225" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">John Smith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    <a href="#">@bulmaio</a>.
                                    <a href="#">#css</a>
                                    <br>
                                    <small>11:09 PM - 1 Jan 2016</small>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://placehold.it/300x225" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">John Smith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    <a href="#">@bulmaio</a>.
                                    <a href="#">#css</a>
                                    <br>
                                    <small>11:09 PM - 1 Jan 2016</small>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://placehold.it/300x225" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">John Smith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    <a href="#">@bulmaio</a>.
                                    <a href="#">#css</a>
                                    <br>
                                    <small>11:09 PM - 1 Jan 2016</small>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://placehold.it/300x225" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">John Smith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    <a href="#">@bulmaio</a>.
                                    <a href="#">#css</a>
                                    <br>
                                    <small>11:09 PM - 1 Jan 2016</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>