<%- contentFor('body') %>
<section class="hero is-info is-bold is-small">
<% include partials/_head %>
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">Aqui encontrar치s todos los animales en adopci칩n.</h1>
        <h2 class="subtitle">Aqui abajo puedes filtrar por el tipo de animal que buscas</h2>
    </div>
</div>
<div class="hero-foot">
    <nav class="tabs is-centered">
        <ul>
            <li class="is-active"><a>Todos</a></li>
            <li><a>Perros</a></li>
            <li><a>Gatos</a></li>
        </ul>
    </nav>
</div>
</section>
<section class="section">
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">Macho, 3 a침os</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">Hembra, 5 meses</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">

        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <figure>
                  <img src="http://placehold.it/200x250">
                </figure>
                <p>
                <strong>Sexo</strong>: Hembra<br>
                <strong>Edad:</strong> Estimada 4 meses<br>
                  <strong>Tama침o:</strong> Grande<br>
                  <strong>Zona/Barrio:</strong> Montevideo/Centro<br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                </p>
              </div>

            </div>
          </article>
        </div>


    </div>
  </div>
  <button class="modal-close"></button>
</div>