<%- contentFor('body') %>
<section class="hero is-info is-bold is-fullheight">
    <% include partials/_head %>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Hola! gracias por visitar nuestro sitio.</h1>
            <h2 class="subtitle">Pronto seremos el sitio donde podrás:</h2>
            <p class="subtitle">
                <ul>
                    <li>Ver animales en adopción o publicar los que tengas</li>
                    <li>Publicar tu mascota perdida o ver si alguien la encontro</li>
                </ul>
            </p>
        </div>
    </div>
</section>
