<%- contentFor('body') %>
<section class="hero is-info is-bold is-fullheight login">
    <% include partials/_head %>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Hola, para poder publicar un animal tienes que ingresar usando alguna de las redes sociales que se muestran abajo.</h1>
            <h2 class="subtitle">De esta manera podrás tener y administrar a todos los animales que ingreses.</h2>

            <a href="#">
                <span class="icon is-large"><i class="fa fa-facebook-official"></i></span>
            </a>
            <a href="#">
                <span class="icon is-large"><i class="fa fa-twitter"></i></span>
            </a>
            <a href="#">
                <span class="icon is-large"><i class="fa fa-google"></i></span>
            </a>
        </div>
    </div>
</section>