<%- contentFor('body') %>
<section class="hero is-info is-bold">
    <% include partials/_head %>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li><a href="#">En adopción</a></li>
                            <li><a href="#">Perdidos</a></li>
                            <li><a href="#">Encontrados</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-three-quarters">
                    <div class="columns is-multiline">
                        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="http://placehold.it/300x225" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">John Smith</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <a href="#">@bulmaio</a>.
                                        <a href="#">#css</a>
                                        <br>
                                        <small>11:09 PM - 1 Jan 2016</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="http://placehold.it/300x225" alt="">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">John Smith</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <a href="#">@bulmaio</a>.
                                        <a href="#">#css</a>
                                        <br>
                                        <small>11:09 PM - 1 Jan 2016</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>