<%- contentFor('body') %>
<section class="hero is-primary is-bold is-small">
<% include partials/_head %>
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">Poner algún texto</h1>
        <h2 class="subtitle">some text here</h2>
    </div>
</div>
<div class="hero-foot">
    <nav class="tabs is-centered">
        <ul>
            <li class="is-active"><a>Todos</a></li>
            <li><a>Perdidos</a></li>
            <li><a>Encontrados</a></li>
        </ul>
    </nav>
</div>
</section>
<section class="section">
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>11:09 PM - 1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>11:09 PM - 1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>11:09 PM - 1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>11:09 PM - 1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>11:09 PM - 1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-mobile is-half-tablet is-one-quarter-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://placehold.it/300x225" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">John Smith</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <a href="#">@bulmaio</a>.
                        <a href="#">#css</a>
                        <br>
                        <small>11:09 PM - 1 Jan 2016</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>